<%- include("partials/header") -%>
<div id="fullpage">
    <div id="home-section" class="section" data-anchor="home">
        <nav class="navbar navbar-expand navbar-light">
            <div class="container">      
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#work">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="svg-wrapper">
                <svg class="border-svg" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" />
                    <div class="text">
                        <h1>Fabricio Bezerra</h1>
                        <h4 class="subtitle">Web Developer</h4>
                    </div>
                </svg>
            </div>
        
        </div>
    </div>
    <div id="about-section" class="section" data-anchor="about">
        <div class="container">
            <div class="jumbotron"  >
                <h1 class="display-3">About</h1>
                <p class="lead">A little about me...</p>
                <hr class="my-2">
            </div>
            <div class="row">
                <div class="col col-12 col-md-6 img-wrapper pb-3">
                    <img class="profile-photo" src="../img/fabricio-bezerra.jpg" alt="">
                </div>
                <div class="col col-12 col-md-6 about-content pb-3" >
                        <div class="about-col">
                                <div class="about-item">
                                    <img class="icon" src="../img/icons/las-vegas.png" />
                                    <p> Based in Las Vegas</p>
                                </div>
                                <div class="about-item">
                                    <img class="icon" src="../img/icons/heart.png" />
                                    <p>Family, Coding, Music, Traveling and Tennis</p>
                                </div>
                                
                                <div class="about-item">
                                    <div><img class="icon" src="../img/icons/study.png" /></div>
                                    <div><p>Self Starter and Highly Motivated to learn</p></div>
                                </div>
                            </div>
                    <div class="about-col">
                        <div class="about-item">
                            <img class="icon" src="../img/icons/code.png" />
                            <p>Currently a Full Stack Web Dev student at Lambda School.</p>
                            <p> I started working as a programmer more than 10 years ago.</p> 
                            <p>After that, I changed careers and worked exclusively with music for a while.</p>
                            <p>I restarted coding and learning new technologies in 2019.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/work-section") -%>

    <%- include("partials/skills") -%>

    <%- include("partials/contact") -%>

    <%- include("partials/modals/contact-message.ejs") -%>
    
    <div id="credit-section" class="section">
        <h4>Developed by</h4>
        <h2>© 2020 Fabricio Bezerra</h2><p>All Rights Reserved</p>
    </div>

</div>

<%- include("partials/footer") -%>