<%- include("partials/header") -%>
<div id="fullpage">
    <%- include("partials/home") -%> 
    <%- include("partials/about") -%> 
    <%- include("partials/work") -%>
    <%- include("partials/skills") -%>
    <%- include("partials/contact") -%>
    <%- include("partials/credit.ejs") %> 

    <%- include("partials/modals/contact-message.ejs") -%>
</div>
<%- include("partials/footer") -%>