<%- include("partials/header") -%>
<div id="fullpage">
    <%- include("partials/home") -%> 
    
    <%- include("partials/about") -%> 

    <%- include("partials/work-section") -%>

    <%- include("partials/skills") -%>

    <%- include("partials/contact") -%>

    <%- include("partials/modals/contact-message.ejs") -%>
    
    <div id="credit-section" class="section">
        <h4>Developed by</h4>
        <h2>© 2020 Fabricio Bezerra</h2><p>All Rights Reserved</p>
    </div>

</div>

<%- include("partials/footer") -%>